<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>
    <form th:method="POST" th:action="@{/balloons}">
        <h2>Choose balloon color:</h2>
        <ul th:each="balloon: ${balloons}">
            <input type="radio" name="color" th:text="${balloon.name}" th:value="${balloon.name}">
        </ul>
    <br/>
        <input type="submit">
    </form>
</main>
</body>
</html>